@use "../../abstracts" as abst;

.detail {
  position: relative;

  &-tagline {
    position: relative;
    text-align: left;
    padding-left: 40px;

    &::before {
      content: "";
      @include abst.size(32px, 1px);
      background-color: abst.$Yellow-500;
      position: absolute;
      left: 0;
      top: 50%;
    }
  }
}
