@use "../../abstracts" as abst;

.featured {
  margin-block: 240px 120px;

  &-tagline {
    position: relative;
    text-align: left;
    padding-left: 40px;

    &::before {
      content: "";
      @include abst.size(32px, 1px);
      background-color: abst.$Yellow-500;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }

  &-top {
    @include abst.flexBox(
      ((align-items: center, justify-content: space-between))
    );
  }

  &-heading {
    margin-block: 12px 40px;
    font-size: 32px;
    line-height: normal;
  }

  &-type {
    @include abst.flexBox(((align-items: center, gap: 32px)));
  }

  &-button {
    @include abst.flexBox(((align-items: center, gap: 8px)));

    &-house {
      padding: 12px 24px;
      background-color: abst.$Green-100;
      cursor: pointer;

      & span {
        color: abst.$Green-500;
        font-size: 18px;
        @include abst.fontWeight("medium");
        line-height: calc(28 / 18);
      }
    }

    &-villa,
    &-apartment {
      padding: 12px 24px;
      border: 1px solid abst.$Neutral-300;
      // color: #888b97;
      transition: all 0.3s linear;

      & span {
        color: abst.$Neutral-500;
        font-size: 18px;
        @include abst.fontWeight("medium");
        line-height: calc(28 / 18);
      }

      & span:hover {
        background-color: abst.$Green-100;
        color: abst.$Green-500;
        cursor: pointer;
        border-color: abst.$Green-100;
      }
    }
  }
}
