@use "../../abstracts" as abst;

.featured {
  margin-block: 240px 120px;

  &-tagline {
    position: relative;
    text-align: left;
    padding-left: 40px;

    &::before {
      content: "";
      @include abst.size(32px, 1px);
      background-color: abst.$Yellow-500;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
}
