@use "../../abstracts" as abst;

.header {
  padding-top: 40px;

  &-top {
    @include abst.flexBox(
      ((align-items: center, justify-content: space-between))
    );

    & .logo {
      @include abst.flexBox(((align-items: center, gap: 12px)));

      &-text {
        color: abst.$App-Headline;
        font-size: 16px;
        @include abst.fontWeight("bold");
        line-height: normal;
      }
    }
  }

  &-menu {
    &-list {
      @include abst.flexBox(((align-items: center, gap: 24px)));
      margin-left: 578px;
    }
  }
}
