@use "../../abstracts" as abst;

.hero {
  margin-top: 110px;

  &-content {
    max-width: 45%;
  }

  &-heading {
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: abst.$App-Headline;
    -webkit-text-stroke: 1px abst.$App-Headline;
    font-size: 40px;
    line-height: normal;
    text-transform: capitalize;

    span {
      color: transparent;
    }
  }

  &-caption {
    font-size: 16px;
    line-height: calc(28 / 16);
    opacity: 0.75;
    margin-block: 24px 32px;
  }

  &-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
  }
}
