@use "../../abstracts" as abst;

.subscribe {
  margin: 120px 0;

  &-container {
    @include abst.size(1200px, 312px);
    background-image: url("../images/subscribe/subscribe.svg");
    position: relative;
    z-index: -2;
  }

  &-info {
    @include abst.flexBox(
      ((flex-direction: column, align-items: center, gap: 32px 0))
    );
    padding-top: 65px;
  }

  &-heading {
    max-width: 425px;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    line-height: calc(48 / 32);
    text-transform: capitalize;
  }

  &-now {
    @include abst.flexBox(((align-items: center, gap: 16px)));
  }
}
