section.about
  h3.tagline.about-tagline See Our Review
  h2.heading.about-heading What Our User Say About Us
  ul.about-list
    li.about-item
      img.about-image(src="", alt="")
      .about-info
        h3.heading.about-title My house sold out fast!
        p.about-caption I was finally able to sell my house quickly through Hounter by immediately setting me up with people who wanted my house. I also do not get a discount from the sale of my house. Awesome!
        .about-person-info
          .about-left
            img.about-person-image(src="", alt="")

          .about-right