footer.footer
  .container.footer-container
    .footer-column
      a.logo(href="./")
        img.logo-image(src="./images/logo.svg", alt="logo_hunter")
        span.logo-text Houter
      p.footer-caption We provide information about properties such as houses, villas and apartments to help people find their dream home
      .footer-socials
        a.footer-socials-button
          i.fa-brands.fa-facebook-f
        a.footer-socials-button
          i.fa-brands.fa-twitter
        a.footer-socials-button
          i.fa-brands.fa-instagram
    .footer-column
      h3.footer-heading Property
      ul.footer-links
        each title in ["House", "Apartment", "Villa"]
          li.footer-links-item
            a.footer-link(href="#!")= title

