footer.footer
  .container.footer-container
    .footer-column
      a.logo(href="./")
        img.logo-image(src="./images/logo.svg", alt="logo_hunter")
        span.logo-text Houter
      p.footer-caption We provide information about properties such as houses, villas and apartments to help people find their dream home
      ul.footer-socials-list
        li.footer-socials-item
          a.footer-socials-button
            span.footer-socials-icon
              include ../icons/_icon-facebook
        li.footer-socials-item
          a.footer-socials-button
            span.footer-socials-icon
              include ../icons/_icon-twitter
        li.footer-socials-item
          a.footer-socials-button
            span.footer-socials-icon
              include ../icons/_icon-instagram
    .footer-column
      h3.footer-heading Property
      ul.footer-links
        each title in ["House", "Apartment", "Villa"]
          li.footer-links-item
            a.footer-link(href="#!")= title
    .footer-column
      h3.footer-heading Article
      ul.footer-links
        each title in ["New Article", "Popular Article", "Most Read", "Tips & Tricks"]
          li.footer-links-item
            a.footer-link(href="#!")= title
    .footer-column
      h3.footer-heading Contact
      .footer-links
        span 2464 Royal Ln. Mesa, New Jersey 45463
        span (671) 555-0110
        span info@hounter.com


