header.header
  .container
    .header-top
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis labore tempore nostrum explicabo, fuga, illum ipsa natus id necessitatibus nemo magni, maiores ratione placeat aut quasi totam qui eaque tempora!
    include ./_hero
