.hero
  .hero-content
    h1.heading.hero-heading find the place to live <span>your dreams<span> easily here
    p.hero-caption Everything you need about finding your place to live will be here, where it will be easier for you
    .hero-search
      .hero-icon
      .hero-text
      .button.hero-button
    span.hero-partner Our Partnership
  img.hero-image(src="../../images/hero-img.svg", alt="hero_image")