.hero
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium vel cupiditate corporis quia. Eum nobis laboriosam, velit beatae omnis neque perspiciatis dolores id! Blanditiis aut reiciendis ipsam asperiores aspernatur!