.hero
  .hero-content
    h1.heading.hero-heading find the place to live <span>your dreams</span> easily here
    p.hero-caption Everything you need about finding your place to live will be here, where it will be easier for you
    .hero-search
      .hero-search-icon
        include ../icons/_icon-location
      input.hero-search-text(type="text", placeholder= "Search for the location you want!")
      a(href="#!").button.button-green-500.hero-search-button Search
        i.fa-solid.fa-arrow-right-long
    span.hero-partner Our Partnership
      ul.hero-partner-list
        each image in [{src: "./images/partnership/traveloka.svg", alt: "traveloka"}, {src: "./images/partnership/tiket.svg", alt: "tiket"}, {src: "./images/partnership/airbnb.svg", alt: "airbnb"}, {src: "./images/partnership/tripadvisor.svg", alt: "tripadvisor"}]
          li.hero-partner-item
            img.hero-partner-image(src= image.src, alt= image.alt)
  .hero-image
    img(src="./images/hero-img.svg", alt="hero-img")
    img.hero-vector.hero-vector-red(src="./images/hero-vector/Vector_red.svg", alt="vector_red")
    img.hero-vector.hero-vector-yellow(src="./images/hero-vector/Vector_yellow.svg", alt="vector_yellow")
    img.hero-vector.hero-vector-blue(src="./images/hero-vector/Vector_blue.svg", alt="vector_blue")
    .hero-info
      .hero-info-content
        .hero-info-left
          img.hero-info-image.hero-info-image-1(src="./images/hero-info/people_1.jpg", alt="hero_people")
          img.hero-info-image.hero-info-image-2(src="./images/hero-info/people_2.jpg", alt="hero_people")
          img.hero-info-image.hero-info-image-3(src="./images/hero-info/people_3.jpg", alt="hero_people")
        .hero-info-right
          h3.hero-info-title 1K+ People
          span.hero-info-desc Successfully Getting Home
      .hero-info-content
        img.hero-info-image.hero-info-house(src="./images/hero-info/house.jpeg", alt="hero_house")
        .hero-info-right
          h3.hero-info-title 56 Houses
          span.hero-info-desc Sold Monthly
      .hero-info-content
        img.hero-info-image(src="./images/hero-info/4k.png", alt="hero_4k")
        .hero-info-right
          h3.hero-info-title 4K+
          span.hero-info-desc People Looking for New Homes


