//---------- Fonts
$font-primary: "Lexend", sans-serif;

//---------- Colors
$App-Headline: #1b1c57;
$App-Neutral-01: #626687;
$App-Subheadline: #68799f;
$Neutral-100: #f0f3fd;
$Neutral-300: #e0e3eb;
$Neutral-500: #888b97;
$Neutral-700: #3c4563;
$Neutral-900: #0e1735;
$Green-100: #d1fae5;
$Green-500: #10b981;
$Green-700: #047857;
$Yellow-500: #f59e0b;
$Red-100: #fee2e2;
$Red-500: #ef4444;
$Blue-100: #dbeafe;
$Blue-700: #1d4ed8;
