* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
  color: #626687;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  color: #1b1c57;
  font-weight: 600;
}

.tagline {
  text-align: center;
  color: #f59e0b;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.button {
  all: unset;
  color: #888b97;
  border-radius: 32px;
  width: fit-content;
}
.button-green-100 {
  background-color: #d1fae5;
}
.button-green-500 {
  background-color: #10b981;
}
.button-neutral {
  background-color: #e0e3eb;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo-text {
  color: #1b1c57;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.header {
  position: relative;
}
.header .color-blur {
  position: absolute;
  top: 0;
  left: 0;
}
.header .color-blur-1 {
  z-index: -1;
}
.header .color-blur-2 {
  z-index: -2;
}
.header-top {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  margin-left: auto;
  margin-right: 56px;
}
.header-menu-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-menu-link {
  display: inline-block;
  color: #f0f3fd;
  font-weight: 600;
  line-height: normal;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.3s linear;
}
.header-menu-link:hover {
  background-color: #fff;
  color: #1b1c57;
}
.header-button {
  display: inline-block;
  padding: 12px 24px;
  color: #047857;
  font-weight: 600;
  line-height: 1.5714285714;
  cursor: pointer;
  transition: all 0.3s linear;
}
.header-button:hover {
  opacity: 0.85;
}

.hero {
  margin-top: 110px;
}
.hero-content {
  max-width: 42%;
}
.hero-heading {
  -webkit-text-stroke: 1px #1b1c57;
  font-size: 40px;
  line-height: normal;
  text-transform: capitalize;
  max-width: 355px;
}
.hero-heading span {
  color: transparent;
}
.hero-caption {
  font-size: 16px;
  line-height: 1.75;
  opacity: 0.75;
  margin-block: 24px 32px;
}
.hero-search {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 4px 4px 24px;
  border-radius: 32px;
  border: 1px solid #e0e3eb;
  background-color: #fff;
  margin-bottom: 32px;
}
.hero-search-text {
  color: #888b97;
  font-weight: 500;
  line-height: 1.5714285714;
  flex: 1 0 0;
  opacity: 0.8;
}
.hero-search-button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  padding: 12px 16px;
  font-weight: 600;
  line-height: 1.5714285714;
  cursor: pointer;
  transition: all 0.3s linear;
}
.hero-search-button:hover {
  opacity: 0.85;
}
.hero-partner {
  color: #888b97;
  font-size: 16px;
  line-height: 2;
}
.hero-partner-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero-partner-item {
  cursor: pointer;
  transition: all 0.3s linear;
}
.hero-partner-item:hover {
  transform: scale(1.2);
}
.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  overflow-x: hidden;
}
.hero-vector {
  position: absolute;
}
.hero-vector-red {
  left: 82px;
  top: 139px;
}
.hero-vector-yellow {
  right: 124px;
  top: 209.5px;
}
.hero-vector-blue {
  right: 112px;
  bottom: 236px;
}
.hero-info {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 872px;
  align-items: center;
  position: absolute;
  left: 48px;
  bottom: 48px;
}
.hero-info-content {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 0px 11px 48px 0px rgba(51, 51, 51, 0.06);
  padding: 24px;
}
.hero-info-content:nth-of-type(2) {
  width: 202px;
}
.hero-info-left {
  display: flex;
  align-items: center;
}
.hero-info-image {
  width: 56px;
  height: 56px;
  border-radius: 100rem;
  border: 3px solid #fff;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}
.hero-info-image-2, .hero-info-image-3 {
  margin-left: -27px;
}
.hero-info-title {
  color: #1b1c57;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2px;
}
.hero-info-desc {
  color: #68799f;
  font-size: 12px;
  line-height: 1.6666666667;
}
.hero-info-house {
  border: none;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.featured {
  margin-block: 240px 120px;
}
.featured-tagline {
  position: relative;
  text-align: left;
  padding-left: 40px;
}
.featured-tagline::before {
  content: "";
  width: 32px;
  height: 1px;
  background-color: #f59e0b;
  position: absolute;
  top: 50%;
  left: 0;
}
.featured-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 12px 40px;
}
.featured-heading {
  font-size: 32px;
  line-height: normal;
  padding-left: 40px;
}
.featured-type {
  display: flex;
  align-items: center;
  gap: 32px;
}
.featured-button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.featured-button-house {
  padding: 12px 24px;
  background-color: #d1fae5;
  color: #10b981;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5555555556;
  cursor: pointer;
}
.featured-button-villa, .featured-button-apartment {
  padding: 12px 24px;
  border: 1px solid #e0e3eb;
  transition: all 0.3s linear;
  color: #888b97;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5555555556;
}
.featured-button-villa:hover, .featured-button-apartment:hover {
  background-color: #d1fae5;
  color: #10b981;
  border-color: #d1fae5;
  cursor: pointer;
}
.featured-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}
.featured-controls-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  background-color: #e0e3eb;
  color: #3c4563;
  transition: all 0.3s linear;
  cursor: pointer;
}
.featured-controls-button:hover {
  color: #fff;
  background-color: #10b981;
}
.featured-controls .featured-controls-button:last-of-type .featured-controls-icon {
  transform: rotate(180deg);
}
.featured-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
  padding-left: 40px;
}
.featured-list .featured-item:first-child .featured-status,
.featured-list .featured-item:last-child .featured-status {
  color: #ef4444;
  background-color: #fee2e2;
}
.featured-list .featured-item:nth-child(2) .featured-status {
  color: #1d4ed8;
  background-color: #dbeafe;
}
.featured-list .featured-item:nth-child(3) .featured-status {
  color: #047857;
  background-color: #d1fae5;
}
.featured-list .featured-item:last-child .featured-person-info .featured-person-address {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.featured-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: all 0.23s linear;
}
.featured-item:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.featured-item:hover .featured-image {
  opacity: 0.85;
}
.featured-image {
  position: relative;
}
.featured-status {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  left: 16px;
  bottom: 16px;
}
.featured-namehouse {
  color: #0e1735;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333;
  margin-bottom: 8px;
  cursor: pointer;
}
.featured-price {
  color: #3c4563;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}
.featured-person {
  display: flex;
  align-items: center;
  gap: 16px;
}
.featured-person-image {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
}
.featured-person-name {
  color: #0e1735;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333;
  margin-bottom: 4px;
}
.featured-person-address {
  color: #888b97;
  font-weight: 500;
  line-height: 1.5714285714;
}

.detail {
  position: relative;
}
.detail-container {
  position: relative;
}
.detail-blur img:first-of-type, .detail-blur img:last-of-type {
  position: absolute;
}
.detail-blur img:first-of-type {
  right: 0;
  top: -280px;
  z-index: -2;
}
.detail-blur img:last-of-type {
  right: 0;
  top: -170px;
  z-index: -1;
}
.detail-tagline {
  position: relative;
  text-align: left;
  padding-left: 40px;
}
.detail-tagline::before {
  content: "";
  width: 32px;
  height: 1px;
  background-color: #f59e0b;
  position: absolute;
  left: 0;
  top: 50%;
}
.detail-content {
  max-width: 525px;
  padding-left: 40px;
}
.detail-heading {
  margin-block: 12px 16px;
  font-size: 32px;
  line-height: normal;
  text-transform: capitalize;
}
.detail-caption, .detail-house {
  font-size: 16px;
  line-height: 1.75;
  opacity: 0.75;
}
.detail-caption {
  max-width: 420px;
  margin-bottom: 16px;
}
.detail-house {
  color: #1b1c57;
  font-weight: 600;
  margin-top: 16px;
}
.detail-top, .detail-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 413px;
}
.detail-top {
  margin: 16px 0;
}
.detail-left, .detail-right {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #3c4563;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}
.detail-bottom-right {
  padding-right: 38px;
}
.detail-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #f0f3fd;
  max-width: 440px;
  margin-top: 32px;
  padding-top: 32px;
}
.detail-person {
  display: flex;
  align-items: center;
  gap: 16px;
}
.detail-person-image {
  width: 56px;
  height: 56px;
  border-radius: 100rem;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}
.detail-person-name {
  color: #0e1735;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3333333333;
  margin-bottom: 4px;
}
.detail-person-bio {
  color: #888b97;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
}
.detail-contact {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5714285714;
  cursor: pointer;
  transition: all 0.3s linear;
}
.detail-contact:hover {
  opacity: 0.85;
}
.detail-image {
  position: absolute;
  right: 0;
  top: 0;
}
.detail-image img:nth-of-type(2) {
  position: absolute;
  left: -40px;
  top: 291px;
}
.detail-image img:nth-of-type(3) {
  position: absolute;
  right: 124px;
  top: 379px;
}
.detail-image img:last-of-type {
  position: absolute;
  right: 20px;
  top: 379px;
}
.detail-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100rem;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}
.detail-icon:hover {
  color: #1b1c57;
  background-color: #fff;
}

.about {
  margin-block: 240px 120px;
  position: relative;
}
.about-tagline {
  position: relative;
  padding-top: 8px;
}
.about-tagline::before {
  content: "";
  width: 32px;
  height: 1px;
  background-color: #f59e0b;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.about-heading {
  text-align: center;
  font-size: 32px;
  line-height: normal;
  margin-block: 12px 40px;
}
.about-list {
  display: grid;
  grid-auto-columns: 740px;
  grid-auto-flow: column;
  gap: 56px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  min-height: 505px;
}
.about-list::-webkit-scrollbar {
  display: none;
  width: 0;
}
.about-list > * {
  scroll-snap-align: start;
}
.about-item {
  position: relative;
}
.about-info {
  width: 612px;
  height: 249px;
  padding: 25px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  position: absolute;
  top: 256px;
  left: 64px;
}
.about-title {
  font-size: 20px;
  line-height: normal;
  text-transform: capitalize;
}
.about-caption {
  line-height: 1.7142857143;
  opacity: 0.75;
  margin-block: 16px 24px;
}
.about-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-person-image {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}
.about-person-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.about-person-name, .about-person-bio {
  font-weight: 500;
  line-height: 1.5714285714;
}
.about-person-name {
  color: #0e1735;
}
.about-person-bio {
  color: #888b97;
}
.about-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.about-point {
  color: #3c4563;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.about-dot {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips {
  position: relative;
}
.tips-blur img:first-of-type, .tips-blur img:last-of-type {
  position: absolute;
  left: 0;
}
.tips-blur img:first-of-type {
  top: -200px;
  z-index: -2;
}
.tips-blur img:last-of-type {
  top: 70px;
  z-index: -1;
}
.tips-tagline {
  position: relative;
  padding-top: 8px;
}
.tips-tagline::before {
  content: "";
  width: 32px;
  height: 1px;
  background-color: #f59e0b;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.tips-heading {
  font-size: 32px;
  line-height: normal;
  text-transform: capitalize;
  max-width: 425px;
  text-align: center;
  margin: 12px auto 24px;
}
.tips-button {
  display: block;
  padding: 12px 16px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5714285714;
  margin: 0 auto 42px;
  transition: all 0.3s linear;
}
.tips-button:hover {
  opacity: 0.85;
  cursor: pointer;
}
.tips-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 68px;
}
.tips-content-left {
  display: flex;
  flex-direction: column;
  gap: 44px 0;
}
.tips-article {
  display: flex;
  align-items: center;
  gap: 32px;
  transition: all 0.3s linear;
}
.tips-article:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.tips-article:hover .tips-article-image {
  opacity: 0.85;
}
.tips-article-title {
  color: #1b1c57;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7777777778;
  text-transform: capitalize;
  margin-block: 12px 16px;
}
.tips-person {
  display: flex;
  align-items: center;
  gap: 16px;
}
.tips-person-image {
  width: 32px;
  height: 32px;
  border-radius: 100rem;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}
.tips-person-name {
  flex: 1 0 0;
  color: #3c4563;
  line-height: 1.5714285714;
}
.tips-access-time {
  display: flex;
  align-items: center;
  gap: 12px;
}
.tips-time {
  color: #888b97;
  line-height: 1.7142857143;
}
.tips-image:hover {
  opacity: 0.85;
  cursor: pointer;
}
.tips-info {
  margin-top: 24px;
}
.tips-title {
  color: #1b1c57;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  margin: 12px 0;
  cursor: pointer;
}
.tips-caption {
  line-height: 1.7142857143;
  opacity: 0.75;
  margin-bottom: 16px;
}

.subscribe {
  margin: 120px 0;
}
.subscribe-container {
  width: 1200px;
  height: 312px;
  background-image: url("../images/subscribe/subscribe.svg");
  position: relative;
}
.subscribe-image img {
  position: absolute;
  flex-shrink: 0;
  border: 2px solid #fff;
}
.subscribe-image img:first-of-type, .subscribe-image img:nth-of-type(3), .subscribe-image img:nth-of-type(6),
.subscribe-image img:last-of-type {
  border-radius: 24px;
}
.subscribe-image img:nth-of-type(2), .subscribe-image img:nth-of-type(4), .subscribe-image img:nth-of-type(5), .subscribe-image img:nth-of-type(7) {
  width: 36px;
  height: 36px;
  border-radius: 100rem;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}
.subscribe-image img:first-of-type {
  width: 81px;
  height: 81px;
  left: 44px;
  top: 38px;
}
.subscribe-image img:nth-of-type(2) {
  left: 204px;
  top: 71px;
}
.subscribe-image img:nth-of-type(3) {
  width: 70px;
  height: 70px;
  right: 200px;
  top: 44px;
}
.subscribe-image img:nth-of-type(4) {
  right: 82px;
  top: 107px;
}
.subscribe-image img:nth-of-type(5) {
  left: 67px;
  bottom: 103px;
}
.subscribe-image img:nth-of-type(6) {
  width: 54px;
  height: 54px;
  left: 195px;
  bottom: 80px;
}
.subscribe-image img:nth-of-type(7) {
  right: 200px;
  bottom: 133px;
}
.subscribe-image img:last-of-type {
  width: 55px;
  height: 55px;
  right: 73px;
  bottom: 60px;
}
.subscribe-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px 0;
  padding-top: 65px;
}
.subscribe-heading {
  max-width: 425px;
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
  line-height: 1.5;
  text-transform: capitalize;
}
.subscribe-now {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 4px 4px 24px;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
  width: 496px;
}
.subscribe-email {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}
.subscribe-email-text {
  color: #888b97;
  font-weight: 500;
  line-height: 1.5714285714;
  flex: 1 0 0;
}
.subscribe-button {
  padding: 12px 16px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5714285714;
  transition: all 0.3s linear;
}
.subscribe-button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.footer {
  padding-bottom: 120px;
  position: relative;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  gap: 88px;
}
.footer-caption {
  max-width: 320px;
  line-height: 1.7142857143;
  opacity: 0.75;
  margin-block: 16px 24px;
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 0 24px;
}
.footer-socials-button {
  width: 41px;
  height: 41px;
  background-color: #fff;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  border: 3px solid #fff;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.footer-socials-button:hover .footer-socials-icon {
  color: #fff;
  transform: rotateY(360deg);
}
.footer-socials-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
}
.footer-socials-button:first-child {
  --bg-color: #1877f2;
}
.footer-socials-button:nth-child(2) {
  --bg-color: #55acee;
}
.footer-socials-button:last-child {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.footer-socials-icon {
  font-size: 20px;
  color: #3c4563;
  transition: 0.5s ease;
  z-index: 2;
}

/*# sourceMappingURL=app.css.map */
